### HW1 part B
matplotlib
# pip install torch --index-url https://download.pytorch.org/whl/cu118  # Manually install PyTorch


### HW1 part C
scipy


### HW1 part D
# pip install torchvision --index-url https://download.pytorch.org/whl/cu118  # Manually install PyTorch


### HW1 part E
tqdm


### HW2 part A
pandas
tabulate